<!--<div class="row">
    <a *ngFor="let Items of propertyList | slice:0:9;" class="card col-4 px-1 my-3" style="width: 15rem;" routerLinkActive="active" routerLink="{{Items.ID}}">
        <img class="card-img-top" src={{Items.LargePicture}} alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{Items.TypeDescription}}</h5>
            <p class="card-text">{{Items.Zip}} {{Items.City}}</p>
            <h6>{{Items.Price}}</h6>
        </div>
    </a>
</div>
-->


<div class="container-fluid">
  <div class="row">
    <div class="card-deck">
      <a *ngFor="let Items of propertyList | slice:0:9;" class="col-4 px-1 my-3" style="width: 17rem;" routerLinkActive="active" routerLink="{{Items.ID}}">
        <div class="card">

          <img class="card-img-top" src={{Items.LargePicture}} alt="Card image cap">
          <div class="card-block">
            <h5 class="card-title">{{Items.TypeDescription}}</h5>
            <p class="card-text">{{Items.Zip}} {{Items.City}}</p>
            <hr>
            <h6>{{Items.Price}}</h6>
          </div>

        </div>
      </a>
    </div>

  </div>
</div>
