.mission .banner{
    max-height: 100vh;
    background-image: url("/assets/img/...");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Quicksand', sans-serif;
    font-display: swap;
}

h2{
  padding-top: 5em;
}

.mission h2{
  font-size: 2.5em;
  color: #EE5C5A;
  font-style:'Montserrat', sans-serif;
  padding-bottom: 0.5em;
}

.mission h3{
  font-size: 1.5em;
  color: #EE5C5A;
  font-style:'Montserrat', sans-serif;
  padding-bottom: 0.5em;
}

.charte h2{
  font-size: 2.5em;
  color: #EE5C5A;
  font-style:'Montserrat', sans-serif;
  padding-bottom: 0.5em;
}

.charte .banner {
    max-height: 100vh;
    min-height: 100%;
    background-image: url("/assets/img/charte.jpeg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Quicksand', sans-serif;
    font-display: swap;
}
