.nav-item{
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 26px;
}

.nav-item .active{
    font-weight: 600;
}

.top-navbar{
    background-color: #233353;
}

.top-navbar .nav-link{
    color: white !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}
