<nav class="navbar navbar-expand navbar-light fixed-top bg-light">
    <div class="container">

        <!--Logo navbar-->
        <a class="navbar-brand col-3">
            <img src='assets/img/logo-top-inverse.png' class="img-fluid logo">
        </a>
        <div class="d-flex flex-column flex-wrap" id="navbarCollapse">


            <ul class="navbar-nav mb-auto mt-0 ml-auto">

                <li class="nav-item">
                    <button type="button" class="btn btn-outline-primary mx-2">Nous contacter</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-secondary mx-2">Estimer mon bien</button>
                </li>

                <!--Numero Tel-->
                <li class="nav-item">
                    <a class="nav-link" href="tel:+3223511919">
                        <i class="bi bi-telephone-fill"></i> 02/351.19.19
                    </a>
                </li>

                <!--Icone Facebook-->
                <li class="nav-item">
                    <a class="nav-link" href="http://www.facebook.com/braxelimmo">
                        <i class="bi bi-facebook"></i>
                    </a>
                </li>

                <!--Icone Insta-->
                <li class="nav-item">
                    <a class="nav-link" href="http://www.instagram.com/braxelimmo">
                        <i class="bi bi-instagram"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav mb-auto mt-0 ml-auto">
                <li class="nav-item">
                    <a class="nav-link py-0" routerLinkActive="active" routerLink="/"><i class="bi bi-house"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-0" routerLinkActive="active" routerLink="/agence">Agence</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-0" routerLinkActive="active" routerLink="/services">Vendre ou louer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-0" href="#">Nos Biens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-0" href="#">Nos Réalisations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-0" routerLinkActive="active" routerLink="/faq">Une question ?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-0" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>