<nav class="navbar navbar-expand navbar-light fixed-top bg-light">
    <div class="container-fluid">
        <!--Logo navbar-->
        <div class="d-flex flex-column flex-wrap mr-5" id="navbarCollapse">
            <ul class="navbar-nav mb-2">
                <li>
                    <a class="nav-link text-center" href="#">Chaussee de Tervuren, 149/3</a>
                </li>
            </ul>
            <div class="d-flex">
                <ul class="navbar-nav mb-auto mt-0">
                    <li>
                        <a class="navbar-brand col-2">
                            <img src='assets/img/logo-top-inverse.png' class="img-fluid">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-0" routerLinkActive="active" routerLink="/"><i
                                class="bi bi-house"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-0" routerLinkActive="active" routerLink="/agence">Agence</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-0" routerLinkActive="active" routerLink="/services">Vendre ou louer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-0" href="#">Nos Biens</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-0" href="#">Nos Réalisations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-0" routerLinkActive="active" routerLink="/faq">Une question ?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-0" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>