h2{
    font-size: 2.5em;
    color: #EE5C5A;
    font-style:'Montserrat', sans-serif;
    padding-bottom: 0.5em;
}

h4{
    font-size: 1.5em;
    color: #233353;
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom: 0.5em;


}

p{
    font-size: 1.1em;
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 0.3em;
}

li{
    list-style-type: none;
    font-size: 1.1em;
}

ul li:before {
    font-family: 'IcoMoon';
    content: '\ea10';
    margin:0 5px 0 -20px;
    color: #EE5C5A;
}

b{
    font-weight: 800;
    color: #EE5C5A;
}

/*Partie honoraires*/

.honoraires .banner {
    max-height: 100vh;
    min-height: 100%;
    background-image: url("/assets/img/home.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Quicksand', sans-serif;
    font-display: swap;
}



/*Partie estimation*/

.estimation .banner {
    max-height: 100vh;
    min-height: 100%;
    background-image: url("/assets/img/estimation-oui.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Quicksand', sans-serif;
    font-display: swap;
}



/*Partie Vente*/

.vente .banner {
    max-height: 100vh;
    min-height: 100%;
    background-image: url("/assets/img/braxel_clef.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Quicksand', sans-serif;
    font-display: swap;
}

/* Partie location*/

.location .banner {
    max-height: 100vh;
    min-height: 100%;
    background-image: url("/assets/img/location.jpeg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Quicksand', sans-serif;
    font-display: swap;
}

/* Partie recherche */

.recherche .banner {
    max-height: 100vh;
    min-height: 100%;
    background-image: url("/assets/img/home_app.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Quicksand', sans-serif;
    font-display: swap;
}

/* Partie reseau */

.reseau .banner {
    max-height: 100vh;
    min-height: 100%;
    background-image: url("/assets/img/reseau-pro.jpeg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    font-family: 'Quicksand', sans-serif;
    font-display: swap;
}
