<section class="header fullheight">
    <div class="container">
        <div class="row pt-5 mt-5">
            <div class="col-5 mr-auto">
                <h1>L'immobilier selon vous</h1>
                <p>Bienvenue chez Braxel, votre agence immobilière nouvelle génération!</p>
                <button type="button" class="btn btn-outline-danger">C'est ici que tout commence!</button>
            </div>
            <div class="col-2 search-form ml-auto mt-5 rounded">
                <p class="">Je souhaite</p>
            </div>
        </div>
    </div>
</section>

<section class="agent-immobilier pt-5 mt-5">
    <div class="container">
        <div class="row">
            <h2 class="mx-auto">Vos agents immobilier</h2>
            <p class="mx-auto">AU-DELÀ DE 10 ANNÉES D’EXPÉRIENCE COMBINÉES, NOS AGENTS IMMOBILIERS SONT AGRÉÉS IPI ET
                VOUS ACCUEILLENT AVEC PASSION.</p>
        </div>
        <div class="row presentation">
            <div class="col-6">
                <img src="assets/img/worker-1.jpg" class="img-fluid" alt="Responsive image">
                <p class="text-center mt-3">Edouard Chevalier</p>
            </div>
            <div class="col-6">
                <img src="assets/img/worker-2.jpg" class="img-fluid" alt="Responsive image">
                <p class="text-center mt-3">Thomas Offergeld</p>
            </div>
        </div>
    </div>
</section>

<app-avis></app-avis>